<!--Bouton supérieur du menu !-->
<div>
    <a href="">ExUnBlz</a>
</div>
<!--Menu !-->
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav>
        <div>
            <NavLink href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div>
            <NavLink href="counter">
                <span aria-hidden="true"></span> Counter
            </NavLink>
        </div>
    </nav>
</div>
<!--Bouton du fond !-->
<div class="BtnIdent">
    <a href="">YC</a>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
